

.tijdlijn {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 0;
}

.tijdlijn::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #c1a870;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.tijdlijn-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.tijdlijn-container::after {
  content: ' ';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: ivory;
  border: 4px solid #c1a870;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.tijdlijn-container.left {
  left: 0;
}

.tijdlijn-container.right {
  left: 50%;
}

.tijdlijn-container.right::after {
  left: -16px;
}

.tijdlijn-content {
  padding: 0px 0px;
  background-color: ivory;
  position: relative;
  border-radius: 6px;
}

.tijdlijn-container.left .timeline-content {
  margin-left: 20px;
}

.tijdlijn-container.right .timeline-content {
  margin-right: 20px;
}

.tijdlijn-kop{
  color: ivory;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  min-height: 85px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tijdlijn-jaar-vak{
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
  color: orange;
}

.tijdlijn-abstract{
  color: #0d253d;
  padding: 10px;
}

.tl-img{
  padding-top: 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.bg-1 {
  background-color: crimson;
}

.bg-2 {
  background-color: lightseagreen;
}

.bg-3 {
  background-color: indigo;
}

.bg-4 {
  background-color: lightskyblue;
}

.bg-5 {
  background-color: yellowgreen;
}

.bg-6 {
  background-color: paleturquoise;
}

.bg-7 {
  background-color: olive;
}
/* uitschakeling
.tijdlijn-content h2, .tijdlijn-content h4 {
  padding: 10px;
  color: white;
  Adjusttextcolorforbetterreadability margin: 0;
  border-radius: 5px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}/*

